/* Variables */
:root {
  --primary-blue: #10a9f0;
  --secondary-blue: #2871b9;
  --light-blue: #e9f1f8;
  --white: #ffffff;
  --primary-text: #3b3b3b;
  --secondary-text: #000000;
  --light-text: #696969;
  --danger: #ee1935;
}

/* Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-text);
}

button,
a {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* Helper Classes */

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.mb-2 {
  margin-bottom: 20px;
}

.mt-7 {
  margin-top: 70px;
}

.bb {
  border-bottom: 1px solid #cecece;
}

.chat-box {
  margin: 0 auto;
  max-width: 700px;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

a,
.btn {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 10px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.btn-small {
  min-width: 70px;
  text-align: center;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 10px;
}

.btn-primary {
  background: var(--secondary-blue);
  color: var(--white);
  border: 2px solid var(--secondary-blue);
}

.btn-primary:hover {
  background: var(--white);
  color: var(--secondary-blue);
  transition: 0.5s;
}

.btn-danger {
  background: var(--danger);
  color: var(--white);
  border: 2px solid var(--danger);
}

.btn-danger:hover {
  background: var(--white);
  color: var(--danger);
  transition: 0.5s;
}

.btn-hollow {
  background: var(--white);
  color: var(--secondary-blue);
  border: 2px solid var(--secondary-blue);
}

.btn-hollow:hover {
  background: var(--secondary-blue);
  color: var(--white);
  border: 2px solid var(--white);
  transition: 0.5s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  flex: 1 1 0%;
}

.card {
  text-align: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

p a {
  color: var(--secondary-blue);
}

.unread {
  font-weight: bold;
}

.img {
  margin-top: 50px;
}

/* Text Classes */

.primary-text {
  color: var(--primary-text);
}

.secondary-text {
  color: var(--secondary-text);
}

.light-text {
  color: var(--light-text);
}

.text-center {
  text-align: center;
}

/* Header */

.header {
  position: fixed;
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 1;
  color: #2871b9;
  background: var(--white);
  border-bottom: 2px solid #757575;
}

#logo {
  float: left;
}

#logo h1 {
  font-size: 50px;
  font-family: 'Ultra', serif;
}

nav {
  float: right;
}

nav ul {
  margin-top: 20px;
}

.current {
  font-weight: bold;
}

.header a {
  color: var(--secondary-blue);
}

nav li {
  display: inline;
  padding: 0 15px;
}

nav li:hover {
  font-weight: 600;
}

/* Mailbox */

.mail-box {
  margin: 50px 0 0;
  color: var(--white);
}

.mailbox-head {
  width: 100%;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  margin-top: 20px;
  padding: 4px;
  height: 50px;
  background: var(--secondary-blue);
}

#box-btn {
  display: none;
  background: transparent;
  color: var(--white);
  border: 0;
}

#box-btn:hover {
  background: var(--light-blue);
  color: var(--primary-text);
  transition: 0.5s;
}

.message-container {
  position: fixed;
  padding-left: 5px;
  padding-top: 10px;
  margin-top: 70px;
  margin-left: 230px;
  width: 350px;
  height: 100vh;
  font-size: 0.88em;
  background: var(--white);
  overflow-y: auto;
  padding-bottom: 40px;
}

.message-box {
  grid-template-columns: 1fr 4fr;
  height: 100px;
  color: var(--primary-text);
  padding: 3px;
  border-bottom: 1px solid #cecece;
}

.message-box:hover {
  background: var(--secondary-blue);
  margin: 3px;
  color: var(--white);
  transition: 0.4s;
}

.nested {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.sub-pic {
  padding: 3px;
  align-self: center;
  justify-self: center;
}

.sub-to {
  justify-self: center;
}

.sub-nested {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.sendr {
  font-weight: 600;
}

.time {
  padding-right: 3px;
  justify-self: end;
}

.message-summary {
  line-height: 1.3;
}

.message-summary span {
  font-size: 16px;
}

.thread-box {
  margin-left: 580px;
  padding-left: 5px;
  line-height: 1.3;
  width: 100vw;
  height: 100vh;
  background: var(--white);
}

#chat-header {
  position: fixed;
  margin-top: 70px;
  padding: 5px;
  width: 100%;
  height: 80px;
  color: var(--primary-text);
  background: var(--white);
  border-bottom: 2px solid #757575;
}

#chat-header img {
  width: 70px;
}

.status {
  height: 100%;
  justify-content: space-between;
  margin-left: 20px;
}

#join-chat {
  background: var(--white);
  padding: 40px 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: -100px;
}

select {
  border-color: #e6e6e6;
  border-radius: 5px;
}

#chat-content {
  justify-content: center;
  width: 100%;
  margin-top: 150px;
}

#chat {
  background: var(--white);
  padding: 25px;
  color: var(--white);
  overflow-y: auto;
}

.chat {
  background: var(--secondary-blue);
  padding: 10px;
  width: 80%;
  border-radius: 10px;
}

.chat-right {
  background: var(--light-blue);
  color: var(--secondary-text);
  margin-left: 20%;
}

#chat input {
  background: #a6ccf5;
  border: var(--light-blue);
  padding: 10px;
}

#chat input:focus {
  background: #7cd0f7;
  transition: 0.4s;
}

#chat-details {
  margin-bottom: 5px;
  justify-content: space-between;
}

.chat-author {
  font-weight: 600;
}

.chat-date,
.chat-body {
  font-size: 14px;
}

#chat-form {
  position: fixed;
  bottom: 0;
  width: 47%;
  align-self: center;
  font-size: 15px;
}

#chat-form input,
button {
  height: 40px;
}

#chat-form button {
  border-radius: 0;
}

/* Drafts */

.box-content {
  margin-top: 150px;
  align-self: center;
  width: 90%;
}

#draft-form {
  width: 90%;
}

.box-buttons {
  width: 90%;
  align-self: center;
  justify-content: space-evenly;
}

.box-content textarea {
  background: var(--light-blue);
}

/* Sent */

.sent {
  background: var(--light-blue);
  color: var(--secondary-text);
  padding: 10px;
}

.sent-details {
  width: 90%;
  justify-content: space-between;
}

.recipient {
  font-weight: 600;
}

/* Compose */


#compose {
  margin-left: 230px;
  width: 100vw;
  height: 100vh;
}

/* showcase */

#showcase {
  text-align: center;
  background: linear-gradient(to right bottom,
    rgba(46, 77, 216, 0.9),
    rgba(15, 7, 90, 0.9)), url('../img/background.jpg') no-repeat 0 -130px;
  background-size: cover;
  color: var(--white);
}

#showcase h1 {
  margin-top: 120px;
  font-size: 35px;
}

#showcase p {
  font-size: 25px;
  margin-top: 70px;
}

#showcase a {
  margin: 50px 0;
}

/* info */

.info {
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 60px;
}

.info h3 {
  margin-top: 30px;
}

.info p {
  margin-bottom: 30px;
}

/* Form */

.form-section {
  height: 100vh;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 50px;
}

.form {
  align-items: center;
  width: 60%;
  padding: 30px;
  margin: 20px 0px;
  border-radius: 10px;
  background: var(--light-blue);
}

form {
  align-self: center;
  justify-items: center;
  width: 100%;
}

.form h2 {
  margin-bottom: 30px;
}

.form-unit,
textarea {
  width: 100%;
  border: 0;
  color: #4d4c4c;
  border-bottom: 1px solid #cecece;
  background: transparent;
  font-size: 17px;
  padding-left: 10px;
}

.form-unit {
  height: 40px;
}

.form-holder {
  text-align: center;
}

.form-holder .btn {
  padding: 5px;
}

textarea {
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 180px;
}

textarea:focus,
input:focus {
  outline: none;
}

/* sidepanel */

.side-panel {
  height: 350px;
  width: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  margin-top: 20px;
  padding-top: 60px;
  background: var(--secondary-blue);
  overflow-x: hidden;
  transition: 0.5s;
}

.side-panel a {
  padding: 0 20px 10px;
  font-size: 20px;
  color: var(--white);
  display: block;
}

.side-panel a:hover {
  background: var(--white);
  color: var(--secondary-blue);
  padding-top: 7px;
  transition: 0.5s;
}

.side-panel .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-btn {
  display: none;
  font-size: 40px;
  background-color: transparent;
  color: var(--white);
  border: none;
  margin-top: -9px;
}

.open-btn:focus {
  outline: none;
}

.open-btn:hover {
  font-weight: 900;
}

/* Side Nav */

.side-nav {
  position: fixed;
  left: 0;
  margin-top: 70px;
  height: 100%;
  padding-top: 10px;
  background: var(--secondary-blue);
  width: 230px;
}

.side-nav ul {
  margin-top: 10px;
}

aside .button {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 5px;
  font-size: 17px;
  padding-left: 25px;
  width: 100%;
  height: 35px;
}

aside .button:hover {
  transition: 0.4s;
  background: var(--white);
  color: var(--secondary-blue);
  padding-left: 40px;
}

.profile-pic {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

aside ul {
  list-style-type: none;
}

.aside a {
  color: var(--white);
}

.aside a:hover {
  font-weight: normal;
}

.pl {
  padding-left: 7px;
}

/* Admin */

.admin-head {
  display: none;
  width: 100%;
  position: fixed;
  margin-top: 70px;
  z-index: 1;
  justify-content: flex-end;
  padding: 3px;
  background: var(--secondary-blue);
}

#back-btn {
  background: transparent;
  border: 0;
  color: var(--white);
}

#back-btn:hover {
  background: var(--light-blue);
  color: var(--primary-text);
  transition: 0.5s;
}

#group-container {
  margin-top: 70px;
  padding-top: 20px;
  padding-left: 10px;
  position: fixed;
  background: var(--white);
  overflow-y: auto;
  font-size: 0.82em;
  height: 100vh;
  width: 350px;
  color: var(--primary-text);
  margin-bottom: 60px;
}

.group-box {
  grid-template-columns: 1fr 4fr;
  background: var(--light-blue);
  padding: 8px;
  height: 100px;
  border-bottom: 1px solid #cecece;
}

.group-box:hover {
  background: var(--secondary-blue);
  margin: 4px;
  color: var(--white);
  transition: 0.4s;
}

#group-info {
  margin-top: 70px;
  margin-left: 350px;
  padding-left: 10px;
  width: 100vw;
  height: 100vh;
}

#info-box {
  align-self: center;
  width: 90%;
  background: var(--light-blue);
  padding: 5px;
}

#group-details {
  grid-template-columns: 1fr 4fr;
  height: 120px;
  font-size: 0.85em;
}

#create-group {
  justify-self: center;
}

.sub-nest {
  grid-template-columns: 2fr 1fr;
}

#add-user {
  width: 80%;
  justify-self: center;
}

#add-user .btn-small {
  border-radius: 0;
}

select {
  background: transparent;
  padding: 5px;
  font-size: 18px;
  line-height: 1;
  border-color: #e6e6e6;
  height: 40px;
}

select:focus {
  outline: none;
  background: #b5def1;
  transition: 1s;
}

#new-group {
  width: 100%;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  padding-top: 25px;
  text-align: center;
  background: var(--secondary-blue);
  height: 60px;
  color: var(--white);
}

/* Media Queries */

@media (max-width: 1024px) {

  .side-nav {
    display: none;
  }

  #compose-side-nav {
    display: block;
  }

  #compose-btn {
    display: none;
  }

  .open-btn {
    display: block;
  }

  .thread-box {
    margin-left: 350px;
  }

  .message-container {
    margin-left: 0;
    font-size: 0.86em;
  }

  .form {
    width: 65%;
  }

  #chat-form {
    width: 60%;
  }

  #group-details {
    font-size: 0.82em;
  }
}



@media (max-width: 768px) {
  #logo {
    margin-top: 5px;
  }

  #logo h1 {
    font-size: 40px;
  }

  #compose {
    margin-left: 0;
  }

  #compose-side-nav {
    display: none;
  }

  #compose-btn {
    display: block;
  }

  .profile-pic {
    text-align: center;
  }

  nav ul {
    margin-top: 10px;
  }

  nav li {
    display: block;
  }

  .side-nav {
    width: 0;
  }

  .thread-box {
    display: none;
  }

  .open-btn {
    display: block;
  }

  .message-container {
    margin-left: 0;
    font-size: 0.9em;
    width: 100%;
  }

  .aside a {
    font-size: 18px;
  }

  .form {
    width: 75%;
  }

  #group-container {
    width: 100%;
  }

  #group-info {
    display: none;
  }

  .group-members {
    font-size: 0.82em;
  }
}

@media (max-width: 414px) {

  #logo {
    margin-top: 8px;
  }

  #logo h1 {
    font-size: 33px;
  }

  .message-container {
    margin-left: 0;
    width: 100%;
    font-size: 0.8em;
  }

  .thread-box {
    display: none;
  }

  #chat-form {
    width: 0;
  }

  .check-box {
    padding: 6px;
  }

  .open-btn {
    display: block;
  }

  nav ul {
    margin-bottom: 10px;
  }

  nav li {
    display: block;
  }

  .side-nav {
    display: none
  }

  #group-info {
    display: none;
  }

  #info {
    display: block;
  }

  .form {
    width: 90%;
  }

  .form h2 {
    font-size: 20px;
  }

  .form-unit {
    height: 40px;
  }

  textarea {
    height: 160px;
  }

  select {
    width: 70%;
    font-size: 16px;
  }

  footer {
    font-size: 18px;
  }
}
