* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font: 20px/1.5 Arial, Helvetica, sans-serif;
  display: block;
  color: #3b3b3b;
}

/* Global */

a {
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  font-weight: bold;
}

.btn {
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 20px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.btn-primary {
  background: #10a9f0;
  color: #ffffff;
}

.btn-primary:hover {
  background: #ffffff;
  color: #10a9f0;
}

.btn-danger {
  background: #ee1935;
  color: #ffffff;
}

.btn-danger:hover {
  background: #ffffff;
  color: #ee1935;
}

.btn-hollow {
  background: #ffffff;
  color: #10a9f0;
  border: 2px solid #10a9f0;
}

.btn-hollow:hover {
  background: #10a9f0;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  flex: 1 1 0%;
}

.card {
  text-align: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

p a {
  color: #10a9f0;
}

p a:hover {
  font-weight: bold;
}

.img {
  margin-top: 50px;
}

/* Header */

header {
  color: #2871b9;
  border-bottom: 2px solid #757575;
}

#logo {
  float: left;
}

#logo h1 {
  font-size: 50px;
  font-family: 'Ultra', serif;
}

nav {
  float: right;
}

nav ul {
  margin-top: 20px;
}

.current {
	font-weight: bold;
}

header a {
  color: #2871b9;
}

nav li {
  display: inline;
  padding: 0 15px;
}

/* showcase */

#showcase {
  text-align: center;
  background: linear-gradient(to right bottom,
    rgba(46, 77, 216, 0.9),
    rgba(15, 7, 90, 0.9)), url('../img/background.jpg') no-repeat 0 -130px;
  background-size: cover;
  color: #fff;
}

#showcase h1 {
  margin-top: 120px;
  font-size: 35px;
}

#showcase p {
  font-size: 25px;
  margin-top: 70px;
}

#showcase a {
  margin: 50px 0;
}

/* info */

.info {
  margin-top: 50px;
  font-size: 20px;
}

.info h3 {
  margin-top: 30px;
}

.info p {
  margin-bottom: 30px;
}

/* Form */
.form {
  background: #ebe9e9;
  padding: 30px;
  border: 1px solid #d4d0d0;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
}

.form h2 {
  margin: 20px 0 30px;
}

.form-section {
  padding: 5% 23%;
}

.form-holder {
  margin-bottom: 15px;
}

.form-unit, textarea {
  width: 100%;
  height: 50px;
  font-size: 17px;
  padding-left: 10px;
  border-radius: 5px;
}

textarea {
  height: 200px;
}

#btn-holder {
  margin-top: 48px;
}

/* Messages */

.messages {
  background-color: #ebe9e9;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.message-head {
  padding: 30px 0;
  border-bottom: 2px solid #cfcfcf;
}

.sender, .subject,
.message-body {
  padding: 12px 10px 0;
  height: 50px;
  overflow: hidden;
}

.sender {
  width: 25%;
}

.subject {
  width: 29%;
}

.message-body {
  width: 46%;
}

.message-btn {
  padding: 5px 5px;
}
.message-btn .btn {
  height: 40px;
  font-size: 15px;
}

.message-container {
  font-size: 17px;
  display: flex;
  text-align: left;
  border: 1px solid #cfcfcf;
  border-bottom: 1.8px solid #cfcfcf;
  color: #3b3b3b;
  border-radius: 5px;
}

.message-container:hover {
  font-size: 19px;
  font-weight: normal;
  border: 1.8px solid #cfcfcf;
  border-bottom: 2.5px solid #cfcfcf;
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 25px;
  text-align: center;
  background: #d3d3d4;
  height: 80px;
  color: #2871b9;
}

/* Media Queries */

@media(max-width: 768px) {

  #logo,
  nav {
    float: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  #logo {
    border-bottom: 2px solid #757575;
  }

  #logo h1 {
    font-size: 40px;
  }

  a {
    font-size: 18px;
  }

  nav ul {
    margin-top: 30px;
  }

  nav li {
    margin: 15px;
    display: block;
  }

  #info {
    display: block;
  }

  .form-section {
    padding: 5%;
  }

  .message-container {
    font-size: 15px;
  }

  .message-container:hover {
    font-size: 17px;
  }

  .sender {
    display: none;
  }

  .subject {
    width: 100%;
  }

  .message-body {
    display: none;
  }

  footer {
    font-size: 18px;
  }
}