* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font: 20px/1.5 Arial, Helvetica, sans-serif;
  display: block;
  color: #3b3b3b;
}

/* Global */

a, .btn {
  font-size: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.btn {
  padding: 12px 24px;
  border-radius: 10px;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}

.btn-primary {
  background: #10a9f0;
  color: #ffffff;
}

.btn-primary:hover {
  background: #ffffff;
  color: #10a9f0;
}

.btn-danger {
  background: #ee1935;
  color: #ffffff;
}

.btn-danger:hover {
  background: #ffffff;
  color: #ee1935;
}

.btn-hollow {
  background: #ffffff;
  color: #10a9f0;
  border: 2px solid #10a9f0;
}

.btn-hollow:hover {
  background: #10a9f0;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.column {
  flex: 1 1 0%;
}

.card {
  text-align: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

p a {
  color: #10a9f0;
}

.img {
  margin-top: 50px;
}

/* Header */

header {
  color: #2871b9;
  border-bottom: 2px solid #757575;
}

#logo {
  float: left;
}

#logo h1 {
  font-size: 50px;
  font-family: 'Ultra', serif;
}

nav {
  float: right;
}

nav ul {
  margin-top: 20px;
}

.current {
	font-weight: bold;
}

header a {
  color: #2871b9;
}

nav li {
  display: inline;
  padding: 0 15px;
}

/* showcase */

#showcase {
  text-align: center;
  background: linear-gradient(to right bottom,
    rgba(46, 77, 216, 0.9),
    rgba(15, 7, 90, 0.9)), url('../img/background.jpg') no-repeat 0 -130px;
  background-size: cover;
  color: #fff;
}

#showcase h1 {
  margin-top: 120px;
  font-size: 35px;
}

#showcase p {
  font-size: 25px;
  margin-top: 70px;
}

#showcase a {
  margin: 50px 0;
}

/* info */

.info {
  margin-top: 50px;
  font-size: 20px;
}

.info h3 {
  margin-top: 30px;
}

.info p {
  margin-bottom: 30px;
}

/* Form */

.form-section {
  padding: 5% 23%;
}

.form {
  padding: 30px;
  margin: 20px 0px;
  border-radius: 10px;
  background: #eeeeee;
}

.form h2 {
  margin-bottom: 30px;
}

.form-unit, textarea {
  width: 100%;
  border: 0;
  color: #4d4c4c;
  border-bottom: 1px solid #cecece;
  background: transparent;
  font-size: 17px;
  padding-left: 10px;
}

.form-unit {
  height: 50px;
}

.form-holder .btn {
  margin: 25px 10px 0;
  padding: 5px;
}

textarea {
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 200px;
}

textarea:focus, input:focus{
  outline: none;
}

/* Mailbox */

.mail-box {
  display: flex;
}

/* sidepanel */
.side-panel {
  height: 350px;
  width: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  padding-top: 60px;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-panel a {
  padding: 0 20px 10px;
  font-size: 20px;
  color: #585858;
  display: block;
}

.side-panel a:hover {
  color: #3d3d3d;
}

.side-panel .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open-btn {
  display: none;
  font-size: 40px;
  background-color: transparent;
  color: #4d4c4c;
  border: none;
}

.open-btn:hover {
  font-weight: 900;
}

/* Side Nav */

.side-nav {
  padding-top: 20px;
  width: 400px;
}

aside .btn {
  width: 100%;
  text-align: left;
  padding: 5px;
  padding-left: 25px;
  border: 0;
  height: 40px;
}

aside .btn:hover {
  background: #f3f3f3;
  color: #3b3b3b;
}

.profile-pic {
  text-align: center;
}

aside ul {
  list-style-type: none;
}

.aside a {
  color: #3b3b3b;
}

.aside a:hover {
  font-weight: normal;
}

.pl {
  padding-left: 7px;
}

/* Mail */

.compose-section,
.table-section,
.group-section,
.thread-section {
  display: table;
  border-collapse: collapse;
  width: 100%;
  padding: 70px 5px 10px;
  border-radius: 10px;
  background: #fafafa;
}

.table-section {
  display: table;
}

.check-box {
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.check-box:hover {
	border: 1px solid #9a9c9c;
}

.check-box:active, .check-box:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

.check-box:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05),
    inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #9da3a8;
}

.check-box:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #9da3a8;
}

.table-row {
  display: table-row;
  font-size: 17px;
  color: #4d4c4c;
  border-bottom: 1px solid #cfcfcf;
}

.table-row:hover {
  font-weight: inherit;
}

.table-cell {
  display: table-cell;
  padding: 5px;
}

.table-row:hover {
  border-bottom: 2.5px solid #cfcfcf;
}

.table-btn {
  margin-top: 20px;
  text-align: center;
}

.check {
  width: 2%;
}

.mail-name {
  width: 23%;
}

.mail-body {
  width: 75%;
  cursor: pointer;
}

.table-cell .btn {
  padding: 5px;
  font-size: 15px;
}

.mail-subject {
  color: #000000;
}

#inbox {
  display: block;
}

#sent {
  display: none;
}

#thread {
  display: none;
}

#draft {
  display: none;
}

#compose {
  display: none;
}

#group {
  display: none;
}

#group-chat {
  display: none;
}

#draft .mail-name {
  width: 8%;
}

.mail {
  line-height: 2;
  padding: 20px;
  font-size: 15px;
  border-bottom: 1.5px solid #cfcfcf;
}

.right, .left {
  font-size: 17px;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.chat-form {
  text-align: center;
}

#chat-input {
  border: 0;
  margin: 10px;
  border-radius: 10px;
  padding: 17px;
  color: #4d4c4c;
  font-size: 17px;
  width: 85%;
  border: 0;
  background: #e6e6e6;
}

.chat-details {
  display: inline;
  text-align: center;
}

.chat-author {
  font-weight: bold;
  float: left;
}

.chat-date {
  font-style: italic;
  font-weight: 100;
  float: right;
}

.right {
  float: right;
  background: #d3ebf7;
}

.left {
  float: left;
  background: #bcd7e4;
}

.thread-body {
  padding-left: 8px;
}

.thread-section span {
  font-weight: bold;
}

.thread-section h4 {
  font-size: 20px;
}

#div-btn {
  text-align: center;
  margin-top: 30px;
}

.unread, .unread:hover {
  font-weight: bold;
}

/* Admin */

#add-users {
  display: block;
}

#create-group {
  display: none;
}

/* Group */

.group {
  padding: 20px;
  margin: 50px 20%;
  border-radius: 10px;
}

.group h3 {
  margin-top: 30px;
  border-bottom: 1px solid #cdebf8;
}

.group h4 {
  margin-top: 40px;
  border-bottom: 1px solid #cdebf8;
}

.group-members {
  margin-top: 20px;
  font-style: italic;
  line-height: 2;
}

.group-form {
  margin: 50px 20%;
}

#group-btn:hover {
  font-weight: normal;
}

select {
  background: transparent;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 18px;
  line-height: 1;
  border-color: #e6e6e6;
  border-radius: 5px;
  height: 40px;
}

/* footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  padding-top: 25px;
  text-align: center;
  background: transparent;
  height: 80px;
  color: #2871b9;
}

/* Media Queries */

@media screen and (min-width: 568px) and (max-width: 768px) {
  .form-section {
    padding: 15%;
  }

  .profile-pic {
    text-align: center;
  }

  .aside ul{
    margin-top: 50px;
  }

  .side-nav {
    width: 250px;
  }

  a {
    font-size: 18px;
  }

  .table-row, select option {
    font-size: 16px;
  }

  .aside a {
    font-size: 18px;
  }
}

@media screen and (max-width: 568px) {

  #logo {
    margin-top: 20px;
  }

  #logo h1 {
    font-size: 33px;
  }

  nav {
    display: block;
  }

  a {
    font-size: 16px;
  }

  .check-box {
    padding: 6px;
  }

  .check-box:checked:after {
    font-size: 10px;
    left: 2.5px;
    top: -1px;
  }

  .open-btn {
    display: block;
  }

  nav ul {
    margin-bottom: 10px;
  }

  nav li {
    display: block;
  }

  .side-nav {
    display: none
  }

  aside .btn {
    padding-left: 10px;
    text-align: left;
  }

  .table-row, select option {
    font-size: 14px;
  }

  .mail {
    font-size: 13px;
  }

  #info {
    display: block;
  }

  .form h2 {
    font-size: 20px;
  }

  .form-section {
    padding: 5%;
  }

  .form-unit {
    height: 40px;
  }

  textarea {
    height: 160px;
  }

  #compose .form-holder {
    text-align: center;
  }

  .group-members, .group button {
    font-size: 18px;
  }

  select {
    width: 70%;
    font-size: 16px;
  }

  .group {
    margin: 50px 5%;
  }

  #group-btn {
    font-size: 17px;
  }

  footer {
    font-size: 18px;
  }
}